<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs') %>

	<body>
		<div class="nescss">
			<%-include('../partials/nav.ejs') %>

				<div class="container">
					<main class="main-contents">
						<div class="nes-container with-title is-centered">
							<p class="title"><%=blogDetail.title%></p>
                            <pre><%=blogDetail.body%></pre>
						</div>
						<div class ="delete-btn">
							<a class="nes-container is-rounded" id="delete-btn" data-doc="<%= blogDetail._id %>">delete</a>	
						</div>
							
					</main>

				</div>


		</div>
		<%-include('../partials/footer.ejs') %>

		<script>

			const trashcan = document.getElementById("delete-btn")
			trashcan.addEventListener('click', (e) => {
			  const endpoint = `/blogs/${trashcan.dataset.doc}`;
			  fetch(endpoint, {
				method: 'DELETE',
			  })
			  .then(response => response.json())
			  .then(data => window.location.href = data.redirect)
			  .catch(err => console.log(err));
			});
			

		  </script>

	</body>


</html>